.loadingText,
.todosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingText {
  font-weight: 400;
}

.todosContainer {
  flex-direction: column;
}

.todosContainer ul li {
  display: flex;
  gap: 10px;
}
